#equipe {
    background-color: purple;
    display: flex;
}

.equipe-container {
    width: 100vw;
    height: 100vh;
}

.tatuadores {
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 0;
    text-align: center;
    margin-top: 50px;
}

.tatuadores p {
    color:aliceblue;
    text-align: center;
    font-weight: bold;
    font-family: 'Spectral', serif;
    bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    position: relative;
}

.tatuadores-titulo {
    text-align: center;
    font-family: 'Poiret One', cursive;
    margin-top: 50px;
    font-size: 38px;
    font-weight: 100;
}
.foto {
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 5px inset #daa520;
}

.portfolio-button {
    font-size: 18px;
    bottom: 20px;
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background: linear-gradient(to top, #f00, #a00);
    color: #ccc;
}

.portfolio-button:hover {
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    box-shadow: 0 0 20px 10px rgba(200, 200, 200, 0.5);
}



@keyframes botao {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}