#estetica {
  background-color: blueviolet;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.estetica-container {
  position: relative;
  padding: 0px 20px 5% 20px;
  border-radius: 20px;
  width: 90vw;
  overflow:visible;
}

.swiper-pagination {
  bottom: 0px;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-inactive-color: #fff;
  bottom: 0px;
  left: 0px;
}
:root {
  --swiper-theme-color: red;
}

.swiper-wrapper {
  box-sizing:border-box;
  height: 85vh;
}

.estetica-seção-nome {
    padding: 0 10vw;
    font-size: 38px;
    font-weight: 500;
    margin: 40px 0 20px 0;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.cards-container {
    margin: 20px 20px;
    /* padding: 0 10vw; */
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;
}

.cards-container::-webkit-scrollbar {
    display: none;
}

.estetica-card {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.estetica-imagem {
    position: relative;
    height: 500px;
    border-radius: 5px;
  }

.estetica-thumb {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    border: solid 3px #fff;
}

.estetica-info {
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.estetica-titulo {
    font-size: 32px;
    margin-top: 0;
    font-family: 'Antic Slab';
    text-shadow: 2px 2px 5px #bbb;
    font-weight: 100;
}

.estetica-descricao {
    width: 100%;
    font-size: 11px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.8;
    text-transform: none;
    margin: 5px 0;
    color: #fff;
  }

  .pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
  border-radius: 20px;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }