* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuNav {
    position: fixed;
    height: 500px;
    width:70px;
    background: transparent;
    border-top: solid #f00;
    border-right: solid #f00;
    border-bottom: solid #f00;
    border-radius: 10px;
    overflow-x: hidden;
    transition: .5s;
    top: 50%;
    margin-top: -250px;
    z-index: 9999;
}

.menuNav ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 40px;
}

.menuNav ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.menuNav ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.menuNav ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 80px;
    text-align: center;
    line-height: 70px;
}

.menuNav ul li a .icon /*ion-icon*/ {
    position: relative;
    font-size: 1.5rem;
    z-index: 9999;
}

.menuNav ul li.active{
    background: #f00;
}

.menuNav ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px 15px 0 #f00;
}

.menuNav ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 15px -15px 0 #f00;
}