.menu p {
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    margin: 5px;
    font-family: 'Poiret One', cursive;
}

.portfolio-container {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#portfolio {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(../img/logo_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}

.menu {
    width: 450px;
    height: 133.5px;
    border-radius: 20px;
    margin-top: 30px;
    text-align: center;
}

.menuPic {
    display: flex;
    justify-content: center;
}

.tattoPic {
    margin: 10px;
}

#TattooContent {
    width: 700px;
    height: 700px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 10px;
}

#t1 {
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#t2 {
    background-color: blue;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#t3 {
    background-color: orange;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#t4 {
    background-color: purple;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#t5 {
    background-color: lavender;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

#PicMarcio {
    background-image: url(../img/marcioPic.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 2px solid #fff;
    cursor: pointer;
}

#PicCorreia {
    background-image: url(../img/correiaPic.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 2px solid #fff;
    cursor: pointer;
}

#PicMarine {
    background-image: url(../img/marinePic.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 2px solid #fff;
    cursor: pointer;
}

#PicKim {
    background-image: url(../img/kimPic.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    border: 2px solid #fff;
    cursor: pointer;
}
