* {
    box-sizing: border-box;
}

* p,h2 {
    color: #fff;
}


body {
    background-image: url(../img/bg.jpg);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.logo-container {
    background-image: linear-gradient(to bottom, transparent 25%, rgba(0, 0, 0, 1) 100%), url(../img/logo_bg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size:cover;
    background-position:center;
    border-bottom: 5px inset #daa520;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 520px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aa0000;
}