* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    font-size: 1.6rem;
}

* p,h2 {
    color: #fff;
}

.container {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

}

section {
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #ff0000;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: #aa0000;
}

.whatsapp a {
    display: inline-flex;
    background: #f00;
    color: #fff;
    border-radius: 100%;
    width: 7.0rem;
    height: 7.0rem;
    justify-content: center;
    align-items: center;
    transition: .4s;
    font-size: 4.0rem;
    text-decoration:none;
    border: 2px solid #fff;
    transition: ease-in-out .5s;
}

.whatsapp a:hover{
    background: #fff;
    color: #f00;
    border: 2px solid #f00;
    transform: scale(1.3);
}

.whatsapp a i{
    transition: .4s all;
}

@media (max-width: 769px) {
    .tatuadores {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "."
          "."
          "."
          "."; 
          margin-top: 0;
    }

    .right {
        right: 0;
    }

    .left {
        left: 0;
    }

    .shape p {
        font-size: 3rem;
    }

    .shape img {
        width: 37vw;
    }
}

@media (max-width: 630px) {
    .shape p {
        font-size: 2.5rem;
    }
}



@media (min-width: 1440px) {
    html {
        font-size: 100%;
    }

    .menuNav ul {
        row-gap: 30px;
    }
}

@media (min-width: 2560px) {
    html {
        font-size: 125%;
    }
    
    .tatuadores-titulo {
        font-size: 7rem;
    }
    
    .tatuadores {
        margin-top: 250px;
    }
    
    .menuNav {
        width: 100px;
    }

    .menuNav ul {
        row-gap: 100px;
    }
    
    .menuNav ul li a .icon {
        font-size: 4rem;
    }
}